{% extends 'admin.html.twig' %}

{% block title %}Ajouter une actualité{% endblock %}

{% block contenu %}

	<h1>Ajouter une nouvelle actualité</h1>

	{{ include("CrazyBundle:News:form.html.twig") }}


{% endblock %}




