{% extends 'admin.html.twig' %}

{% block title %}Editer une actualité{% endblock %}

{% block contenu %}

	<h1>Editer une actualité</h1>

	{{ include("CrazyBundle:News:form.html.twig") }}

	
{% endblock %}




