{% extends 'admin.html.twig' %}

{% block title %}Supprimer une actualité{% endblock %}

{% block contenu %}

	<h1>Supprimer une actualité</h1>

	<div class="alert alert-danger">
		
		<p><i class="fa fa-exclamation-triangle fa-lg"></i> Souhaitez-vous vraiment supprimer la news "{{ news.titre }}" ?
		</p>

		<form method="post" action="{{ path('supprimer-actualite', {'id': news.id}) }}">

		<a href="{{ path('dashboard') }}" class="btn">Annuler</a>

		<input type="submit" class="btn btn-danger" value="Supprimer la news" />

		{{ form_rest(form) }}

		</form>

	</div>


{% endblock %}




