{% extends 'crazytemplate.html.twig' %}

{% block title %}- Infos : Accès{% endblock %}

{% block body %}
<section class="bande-01">
	<div class="container">
		<h1>Accès</h1>

		<p class="text-center">Le Haras National de SAINT-LO<br />
		AVENUE DU MARECHAL JUIN<br />
		50000 SAINT-LO</p>

		<img src="{{ asset('img/acces.png') }}" class="img-responsive center-block" alt="" title="" />

		

	</div><!-- /.container -->
</section><!-- /.bande-01 -->





{% endblock %}
