{% extends 'crazytemplate.html.twig' %}

{% block title %}- Infos : Accès{% endblock %}

{% block body %}
<section class="bande-01">
	<div class="container">
		<h1>Accès</h1>

		

	</div><!-- /.container -->
</section><!-- /.bande-01 -->





{% endblock %}
