{% extends 'crazytemplate.html.twig' %}

{% block title %}- Infos : Retrait des dossards{% endblock %}

{% block body %}
<section class="bande-01">
	<div class="container">
		<h1>Retrait des dossards</h1>

		<p>Le samedi 4 novembre 2017, retrait des dossards à partir de 17h30 dans le musée du haras national.</p>

		

	</div><!-- /.container -->
</section><!-- /.bande-01 -->





{% endblock %}
