{% extends 'crazytemplate.html.twig' %}

{% block title %}- Infos : Retrait des dossards{% endblock %}

{% block body %}
<section class="bande-01">
	<div class="container">
		<h1>Retrait des dossards</h1>

		

	</div><!-- /.container -->
</section><!-- /.bande-01 -->





{% endblock %}
