{% extends 'crazytemplate.html.twig' %}

{% block title %} - Contact {% endblock%}

{% block body %}
<section class="bande-01">
	<div class="container">
		<h1>Contact</h1>

		<p class="text-center">Pour toutes questions ou demandes, vous pouvez nous contacter par e-mail :</p>

		<p class="text-center"><a href="mailto:crazydiscotrail@gmail.com">crazydiscotrail@gmail.com</a></p>
		

			
		
		
		
	</div><!-- /.container -->
</section><!-- /.bande-01 -->




{% endblock %}
