{% extends 'crazytemplate.html.twig' %}

{% block title %} - Galeries {% endblock%}

{% block body %}
<section class="bande-01">
	<div class="container">
		<h1>Galeries</h1>

			
		<p class="text-center">Retrouvez ci-dessous l'univers du Crazy Disco Trail</p>
		
				
	</div><!-- /.container -->
</section><!-- /.bande-01 -->

<section class="bande-02">
	<div class="container">
		<h2>Affiches</h2>
		<img src="{{ asset('img/affiche2017.jpg')}}" class="img-responsive" alt="Affiche 2017" title="" />
	</div><!-- /. container -->
</section><!-- /.bande-02 -->

<section class="bande-01">
	<div class="container">
		<h2>Vidéos</h2>
		<p class="text-center">Retrouvez à l'issue de la première édition les premières vidéos...</p>

		
	</div><!-- /. container -->
</section><!-- /.bande-01 -->

<section class="bande-02">
	<div class="container">
		<h2>Photos</h2>
		<p class="text-center">A venir : les albums photos de la 1ère édition...</p>
	</div><!-- /. container -->
</section><!-- /.bande-02 -->




{% endblock %}
