{% extends 'crazytemplate.html.twig' %}

{% block title %} - Inscrits : vérifier son dossier d'inscription {% endblock%}

{% block body %}
<section class="bande-01">
	<div class="container">
		<h1>Inscrits</h1>

		<p class="text-center">Vous pouvez consulter la liste des inscrits et vérifier votre dossier d'inscription via le bouton ci-dessous.</p>
		

		<p class="text-center"><a href="http://www.njuko.net/crazydiscotrail/select_competition" class="btn btn-success" target="_blank">INSCRITS / VERIFIER SON INSCRIPTION</a></p>	
		
		
		
	</div><!-- /.container -->
</section><!-- /.bande-01 -->




{% endblock %}
