{% extends 'crazytemplate.html.twig' %}

{% block title %} - Mentions légales {% endblock%}

{% block body %}
<section class="bande-01">
	<div class="container">
		<h1>Mentions légales</h1>

			
		<ul>
			<li><strong>Éditeur :</strong> Vincent Richert</li>
			<li><strong>Responsable de la publication :</strong> Vincent Richert</li>
			<li><strong>Développement :</strong> Claire Bourdalé <a href="https://www.arroweb.net" target="_blank">Arroweb, conception de site Internet en Normandie (Caen)</a></li>
		</ul>
		
		
		
	</div><!-- /.container -->
</section><!-- /.bande-01 -->

<section class="bande-02">
	<div class="container">
		<h2>Droit d'accès au fichier informatisé</h2>
		<p>Tout utilisateur ayant déposé des informations directement ou indirectement nominatives peut demander la communication des informations nominatives le concernant à l'administrateur du service et les faire rectifier le cas échéant, conformément à la loi française No 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
	</div><!-- /. container -->
</section><!-- /.bande-02 -->

<section class="bande-01">
	<div class="container">
		<h2>Droit d'auteur</h2>
		<p>L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les réprésentations photographiques et iconographiques.</p>

		<p>L'impression des pages Internet du site <a href="http://www.crazydiscotrail.com">www.crazydiscotrail.com</a> est uniquement autorisée pour un usage privé.</p>

		<p>A ce titre, les représentations, reproductions, imbrications, diffusions et rediffusions, partielles ou totales, sont interdites conformément aux dispositions de l'article L.122-4 du Code de la propriété intellectuelle.</p>
	</div><!-- /. container -->
</section><!-- /.bande-01 -->

<section class="bande-02">
	<div class="container">
		<h2>Hébergement</h2>
		<p>Le site Internet <a href="http://www.crazydiscotrail.com">www.crazydiscotrail.com</a> est hébergé par la société OVH, dont le siège social se situe 2 rue Kellermann - 59100 Roubaix - France.</p>
	</div><!-- /. container -->
</section><!-- /.bande-02 -->




{% endblock %}
